.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #790b7d; 
}
